$font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
$font-serif-italic: Georgia, Cambria, "Times New Roman", Times, serif;
$font-sans-italic: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
$font-serif-bold: Georgia, Cambria, "Times New Roman", Times, serif;
$font-sans-bold: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
$font-serif-bold-italic: Georgia, Cambria, "Times New Roman", Times, serif;
$font-sans-bold-italic: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
